<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <script src="https://cdn.tailwindcss.com"></script>
      <link
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  
</head>
<body class="bg-black text-white min-h-screen flex items-center justify-center">

  <div class="bg-zinc-900 p-8 rounded-lg shadow-xl w-full max-w-lg">
    <div class = "rounded-lg shadow-xl ">
    <h1 class="text-3xl font-bold mb-6 text-slate-200">Add Product</h1></div>
    <form id="productForm"  class="bg-#475569 p-6  rounded-lg shadow-md">
              <div id="productFormsContainer">

      <div class="mb-4  bg-zinc-900">
        <label for="productName" class="block text-gray-400">Product Name</label>
        <input type="text" id="productName" name="productName" class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-zinc-800 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" required>
      </div>
      
      <div class="mb-4">
        <label for="brand" class="block text-gray-400">Brand</label>
        <input type="text" id="brand" name="brand" class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-zinc-800 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" required>
      </div>
      
      <div class="mb-4">
        <label for="gender" class="block text-gray-400">Gender</label>
        <select id="gender" name="gender" class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-zinc-800 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" required>
          <option value="male" class="bg-zinc-900 text-white">Male</option>
          <option value="female" class="bg-zinc-900 text-white">Female</option>
          <option value="unisex" class="bg-zinc-900 text-white">Unisex</option>
        </select>
      </div>
      
      <div class="mb-4">
        <label for="categoriesId" class="block text-gray-400">Category</label>
        <select
          id="categoriesId"
          name="categoriesId"
          class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-zinc-800 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        >
          <% categories.forEach(category => { %>
            <option value="<%= category._id %>" class="bg-zinc-800 text-white"><%= category.categoriesName %></option>
          <% }); %>
        </select>
      </div>
      

      <div class="mb-4">
          <label for="imageFile" class="block text-gray-400"
            >Image Files (up to 4)</label
          >
          <input
            type="file"
            id="imageFile"
            name="imageFiles"
            accept="image/*"
            
            class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-zinc-800 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
            onchange="addImage()"
          />
          <p id="fileError" class="text-red-500 text-sm mt-2 hidden">
            You can only upload up to 4 images.
          </p>
        </div>

        <!-- Crop Modal -->
        <div
          id="cropModal"
          class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden z-50"
        >
          <div class="bg-zinc-900 p-4 rounded-lg w-2/3 max-w-4xl shadow-xl">
            <h2 class="text-lg font-semibold mb-4 text-slate-200">
              Crop Image
            </h2>
            <div class="flex justify-center">
              <img id="cropImage" class="max-h-[500px] object-contain" />
            </div>
            <div class="mt-4 flex justify-end">
              <button
                type="button"
                onclick="closeCropModal()"
                class="bg-gray-400 text-white px-4 py-2 rounded mr-2 hover:bg-gray-500"
              >
                Cancel
              </button>
              <button
                type="button"
                onclick="applyCrop()"
                class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700"
              >
                Crop & Save
              </button>
                        

            </div>
          </div>
        </div>

        <div
          id="imagePreview"
          class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4"
        >
          <!-- Preview images will appear here -->
        </div>

        <div id="loadingIndicator" class="hidden">
          <div class="flex items-center justify-center space-x-2 mb-4">
            <div
              class="animate-spin rounded-full h-6 w-6 border-b-2 border-indigo-500"
            ></div>
            <span class="text-gray-400">Uploading images...</span>
          </div>
        </div>



      <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-800">
        Continue
      </button>
        </div>
    </form>
  </div>


    <script>
      let uploadedImages = [];
      let cropper;
      let selectedFile;


      function addImage() {
        const imageFileInput = document.getElementById("imageFile");
        const fileError = document.getElementById("fileError");
        const imagePreview = document.getElementById("imagePreview");
        selectedFile = imageFileInput.files[0];

        // Reset file input
        imageFileInput.value = "";

        if (uploadedImages.length >= 4) {
          fileError.classList.remove("hidden");
          return;
        } else {
          fileError.classList.add("hidden");
        }

        // Show the crop modal
        openCropModal(selectedFile);
      }

      function openCropModal(file) {
        const cropModal = document.getElementById("cropModal");
        const cropImage = document.getElementById("cropImage");
        cropModal.classList.remove("hidden");

        const reader = new FileReader();
        reader.onload = function (e) {
          cropImage.src = e.target.result;
          if (cropper) {
            cropper.destroy();
          }
          cropper = new Cropper(cropImage, {
            aspectRatio: 1,
            viewMode: 1,
            background: false,
            zoomable: true,
            scalable: false,
          });
        };
        reader.readAsDataURL(file);
      }

      function closeCropModal() {
        document.getElementById("cropModal").classList.add("hidden");
        if (cropper) {
          cropper.destroy();
          cropper = null;
        }
      }

      function applyCrop() {
        if (cropper && uploadedImages.length < 4) {
          cropper
            .getCroppedCanvas({
              maxWidth: 1024,
              maxHeight: 1024,
              fillColor: "#fff",
            })
            .toBlob(
              (blob) => {
                uploadedImages.push(blob);


                const imgWrapper = document.createElement("div");
                imgWrapper.className = "relative group";


                const imgElement = document.createElement("img");
                imgElement.src = URL.createObjectURL(blob);
                imgElement.className =
                  "w-full aspect-square object-cover rounded-lg border border-gray-600";


                  const deleteButton = document.createElement("button");
                deleteButton.className =
                  "absolute top-2 right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-200";
                deleteButton.innerHTML = "×";
                deleteButton.onclick = (e) => {
                  e.preventDefault();
                  deleteImage(imgWrapper, blob);
                };

                imgWrapper.appendChild(imgElement);
                imgWrapper.appendChild(deleteButton);
                document.getElementById("imagePreview").appendChild(imgWrapper);
              },
              "image/jpeg",
              0.8
            );
        }
        closeCropModal();
      }

      function deleteImage(imgWrapper, blob) {
        imgWrapper.remove();
        uploadedImages = uploadedImages.filter((img) => img !== blob);
        document.getElementById("fileError").classList.add("hidden");
      }



      document
        .getElementById("productForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();


          const loadingIndicator = document.getElementById("loadingIndicator");
          loadingIndicator.classList.remove("hidden");

          const formData = new FormData();


          formData.append(
            "productName",
            document.getElementById("productName").value
          );
          formData.append("brand", document.getElementById("brand").value);
          formData.append("gender", document.getElementById("gender").value);
          formData.append("categoriesId", document.getElementById("categoriesId").value);


          uploadedImages.forEach((blob, index) => {
            formData.append("imageFiles", blob, `image_${index}.jpg`);
          });

          try {
  const response = await fetch("/admin/products/add", {
    method: "POST",
    body: formData,
  });

  const result = await response.json();

  if (response.ok) {
    window.location.href = `/admin/products/add/variant?productId=${result.productId}`;
  } else {
    throw new Error(result.error || "Error adding product");
  }
} catch (error) {
  console.error("Error:", error);
  alert(error.message || "Error submitting form");
} finally {
  loadingIndicator.classList.add("hidden");
}

        });
    </script>

</body>
</html>
