<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body class="bg-white">
    <!------------ Navbar ---------->
  <div class="h-22 flex items-center justify-between px-8 bg-zinc-100 border-b-2 border-slate-700">
    
    <!-- Left Side (Nav Links) -->
    <div class="flex space-x-6 text-slate-800 font-medium">
      <a href="#" class="hover:text-slate-500">Home</a>
      <a href="#" class="hover:text-slate-500">Shop</a>
      <a href="#" class="hover:text-slate-500">Contact Us</a>
      <a href="#" class="hover:text-slate-500">About Us</a>
    </div>
    
    <!-- Center (Logo) -->
    <div class="flex-shrink-0 -ml-24 ">
      <img src="/images/logo-nobg.png" alt="logo" class="h-16 mx-auto" />
    </div>
    
    <!-- Right Side (Icons) -->
    <div class="flex space-x-8 text-slate-800 text-xl">
      <a href="#" class="hover:text-slate-500"><i class="fa-regular fa-heart"></i></a>
      <a href="#" class="hover:text-slate-500"><i class="fa-regular fa-user"></i></a>
      <a href="#" class="hover:text-slate-500"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>


  </body>
</html>
